@keyframes opacity {
  0%{opacity: 0%;}
  100%{opacity: 100%;}
}

body {
  background-color: #1d1d1d;
  color: #ddd;
  overflow: hidden;
}

  .view-title {
    text-align: center;
    padding: 15px;
  }

  .input-section{
    text-align: center;
    margin: 0px auto;
  }

  .input-section textarea{
    border-radius: 7px;
    background-color: #ffffff18;
    border-color: brown;
    width: 450px;
    height: 160px;
    color: #ffffff;
    font-size: 17px;
    padding: 10px;
  }

  .tunning {
    display: flex;
    align-items: center;
    background-color: #fa4c4c;
    height: 50px;
    padding: 2px 10%;
    border: 1px solid #dddddd9c ;
    border-radius: 5px;
    letter-spacing: 2px;
    margin: 20px 20%;

  }

  .tunning span {
    margin-top: 4px;
  }

  #tone {
    padding: 2px 5px;
    margin-right: 10px;
    border: 0px;
    border-radius: 3px;
    height: 25px;
  }

  select {
    margin-left: 10px;
    background-color: rgb(189, 189, 189);
    border-radius: 3px;
    padding: 1px 4px;
    height: 25px;
  }


  .tunning-buttons {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 12px;
   gap: 12px;
  }

  .tunning-buttons button{
    background-color: #3d3d3d;
    color: #ffffff;
    font-size: 12px;
    width: 70px;
    padding: 8px 10px;
    border: 1px solid #dddddd9c ;
    border-radius: 3px;
    cursor: pointer;
    letter-spacing: 2px;
  }

  .main-button {
    font-size: 20px;
    background-color: #f14e4e;
    width: 60px;
    text-align: center;
    display: inline-block;
    padding: 10px 0px;
    border: 1px solid #dddddd9c ;
    border-radius: 3px;
    cursor: pointer;
    letter-spacing: 2px;
    position:relative;
    overflow:hidden;
  }
  
  .main-button:before {
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background : #fff;
    left: -70px;
    top: -40px;
    transform: rotate(37deg);
    transition: all .3s;
    opacity: 0.3;
  }
  
  .main-button:hover:before {
    left:100%;
  }


  #outputDiv{
    background-color: #181818;
    border-color: #e73d3d;
    border-radius: 10px;
    width: 700px;
    height: 250px;
    padding: 30px;
    padding-left: 10%;
    margin: 0% auto;
    font-size: 20px;
  }

  .output-buttons-div{
    display: flex;
    width: 700px;
    justify-content: end;
  }

  #copy{
    background-color: #e73d3d;
    text-align: center;
    padding: 5px 15px;
    border: 1px solid #dddddd9c ;
    border-radius: 3px;
    cursor: pointer;


    margin: 10px 0px;
    margin-left: 50%;
  }

  #copy:hover {
    border: 0px;
    transition: all .3s;
  }

  .popInput{

    position: absolute;
    top: 40%;
    right: 40%;
    width: 300px;
    height: 100px;
    padding: 10px;

    border-radius: 7px;
    background-color: #222222;
    border: 2px solid brown;

    transition: .5s ease;

    display: none;
    opacity: 0%;
  }

  .popInput.active{
    display: flex;
    animation: opacity .5s ease both;
  }

  .action-buttons-div{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 300px;
    width: 80px;

    justify-content: space-evenly;
  }

  .action-buttons-div button{
    position: relative;
    background-color: #fa4c4c;
    border-radius: 30px;
    padding: 10px;
    height: 70px;
    width: 70px;
    color: #ddd;
    cursor: pointer;
    font-size: 30px;
    transition: .4s;
  }
  
  #file-button,
  #favorite-button,
  #copy-button{
    right: -100px;
    transition: .4s ease;
  }

  #file-button.active,
  #favorite-button.active,
  #copy-button.active{
    transform: translateX(-100px);
  }

  .action-buttons-div button:hover{
    background-color: #bb3131;
    
  }

  .red{
    color: red;
  }